#banner {
  width: 100%;
}

.principal {
  background: #cccccc;
  padding: 30px;
  /* padding: 1.88rem; essa é outra forma, mais responsiva, de ser atribuir um tamanho: target ÷ context = result (30 ÷ 16 = 1.88rem) */
}

.titulo-principal {
  padding-left: 20px;
}

.titulo-centralizado {
  text-align: center;
}

p {
  text-align: center;
}

#missao {
  font-size: 20px;
  /* font-size: 1.25rem; */
}

em strong {
  color: #FF0000;
}

.itens {
  font-style: italic;
}

.beneficios {
  background: #FFFFFF;
  padding: 20px;
}

ul {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}

.imagem-beneficios {
  width: 50%;
}